
  <div>
    
    <table >
        <thead>
            <th>id</th>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            <th>street</th>
            <th>city</th>
            <th>phonenumber</th>
            <th>website</th>
            <th>companyname</th>
        </thead>
        <tr *ngFor="let object of objects">
             <td>{{object.id}}</td>
             <td>{{object.name}}</td>
             <td>{{object.username}}</td>
             <td>{{object.email}}</td>
             <td>{{object.address.street}}</td>
             <td>{{object.address.city}}</td>
             <td>{{object.phone}}</td>
             <td>{{object.website}}</td>
             <td>{{object.company.name}}</td>
             <!-- <td> -->
                <!-- <button class="button" on-click="edit(object)">Edit</button> -->
             <!-- </td> -->
             <td><button type="button" (click)="edit(object)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Edit
              </button></td>
             
        </tr>
    </table>
   
      <div class="modal fade" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <b>ID</b>     : {{editObj.id}}<br>
                <b>NAME</b>:    {{editObj.name}}<br>
                <b>USERNAME</b>:   {{editObj.username}}<br>
                <b>EMAIL</b>:    {{editObj.email}}<br>
                <b>STREET</b>:   {{editObj.address.street}}<br>
               <b>CITY</b>:    {{editObj.address.city}}<br>
                <b>PHONE</b>:  {{editObj.phone}}<br>
               <b>WEBSITE</b>:   {{editObj.website}}<br>
                <b>COMPANYNAME</b>:   {{editObj.company.name}}
    
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  </div>
